{% extends '_layout.njk' %}

{% block content %}
  <h1>Book a ticket</h1>

  <form action="/booking" method="post">
    <input type="hidden" name="crumb" value="{{ crumb }}">
    <button type="submit" class="btn btn-primary">Book ticket</button>
  </form>
{% endblock %}
