{% extends '_layout.njk' %}

{% block content %}
  <h2>Payment</h2>

  <p>You are paying for {{ tickets.length }} tickets.</p>

  <p>You have until {{ expirationDate }} to pay for your tickets.</p>

  <h3>Booking number: {{ bookingNumber }}</h3>

  <form action="/booking/payment" method="post">
    <input type="hidden" name="crumb" value="{{ crumb }}">
    <input type="hidden" name="bookingNumber" value="{{ bookingNumber }}">
    <input type="hidden" name="tickets" value="{{ tickets.length }}">
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Pay for {{ tickets.length }} tickets</button>
    </div>
  </form>
{% endblock %}
