{% extends '_layout.njk' %}

{% block content %}
  <h2>Waiting in the queue</h2>

  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <p id="position">You have joined the queue</p>
{% endblock %}

{% block bodyEnd %}
  <script>
    const ws = new WebSocket('ws://localhost:3000/queue/ws')

    const queueId = '{{ queueId }}'

    ws.onopen = () => {
      ws.send(JSON.stringify({queueId}))
    }
    ws.onmessage = (event) => {
      const data = JSON.parse(event.data)
      if (data.status === 'accepted' && data.queueId === queueId) {
        window.location.href = '/booking'
      } else {
        document.getElementById('position').innerText = `You are ${data.position} in the queue`
      }
    }
  </script>
{% endblock %}
